body {
    font-family: 'Poppins', sans-serif;
}

.brand-name {
    font-size: 2rem;
    font-weight: 600;
}

.nav-item a:hover {
    color: #0d6efd;
}

.first-slide {
    background: rgba(0, 0, 0, 0.5)url(images/cover/cover-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}

.second-slide {
    background: rgba(0, 0, 0, 0.6)url(images/cover/cover-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.third-slide {
    background: rgba(0, 0, 0, 0.5)url(images/cover/cover-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}